.navbar {
    background-color: #1a1a1a;
    color: white;
    width: 250px;
    height: 100vh;
}

.title {
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.link {
    text-align: center;
    font-size: 22px;
    cursor: pointer;
    transition: color 0.2s ease, font-weight 0.2s ease;
    color: #ccc;
}

.link:hover {
    color: white;
}

.divider {
    margin: 10px 0;
    background-color: #333;
}

.active {
    background: #242423;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    font-weight: 700 !important;
}

@media (max-width: 768px) {
    .navbar {
        height: 100svh;
    }
}